<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<!-- Bootstrap core CSS --> 
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Word</th>				
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
			<tr>
				<td> {{ row.word }} </td>				
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<script>
	$(function(){
		setTimeout(function(){
			window.location.reload(1);
		}, 2000);});
	</script>
</body>​
</html>

